<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
  <div class="uk-navbar-center">
    <ul class="uk-navbar-nav">
      <li><a href="/">Decks</a></li>
      <li><a class="add-card" href="#">Add Card</a></li>
      <li><a href="#">Browse</a></li>
    </ul>
  </div>
</nav>
</div>
<div class="uk-section uk-padding-remove">
  <h1 class="uk-text-center">{{ currentDeck.title }}</h1>
  <div class="add-card-form-container uk-container uk-container-small">
  </div>
</div>
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
<script src="/quill.js"></script>
<script src="/add-card.js"></script>
