/* this styles the invisible div on top of the disabled add deck button */
.add-deck-submit-alert,
.rename-deck-submit-alert {
  position: absolute;
  right: 30px;
  height: 40px;
}
.add-deck-submit-alert {
  width: 91px;
}
.rename-deck-submit-alert {
  display: none;
  width: 119px;
}
.card-body {
  border: 1px solid #1e87f0;
}

svg {
  pointer-events: none;
}

.card-back,
.next-card,
.save-card,
.cancel-edit,
.delete-card-first,
.are-you-sure,
.yes-delete,
.no-delete,
.are-you-sure-all-cards,
.yes-delete-all-cards,
.no-delete-all-cards
 {
  display: none;
}

.card-row:nth-of-type(odd):hover,
.card-row:hover {
  cursor: pointer;
}

span.hl {
  font-weight: bolder;
  color: #0f7ae5;
}

h4.browse-cards-title {
  color: #fff;
  margin: 0;
  text-align: center;
}

.uk-nav li>a {
  display: inline-block;
}
